/* Universal
============================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body / App
============================================================== */
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

a {
  color: #42b983;
  text-decoration: none;
  cursor: pointer;
}

/* Header
============================================================== */
#headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 0px 6px #ccc;
  background: rgba(255,255,255,.9);
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

#headerLeft {
  text-align: left;
  width: 20%;
  padding-left: 20px;
}

h1 a {
  display: block;
  height: 40px;
  font-weight: bold;
  color: #2c3e50;
  padding: 5px;
}

#headerRight {
  flex: 1;
  text-align: right;
  padding-right: 20px;
  min-width: 320px;
}

#headerRight ul {
  display: flex;
  justify-content: flex-end;
}

#headerRight li {
  height: 40px;
}

#headerRight li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 10px;
  color: #999;
  transition: color .25s ease;
}

#headerRight li a:hover {
  color: #2c3e50;
}
.active {
  border-bottom: 4px solid #42b983;
}

#headerRight li.active a {
  color: #2c3e50;
}

/* SVG Styles
============================================================== */
svg {
  margin-left: -200px;
}
svg path.link:first-of-type, svg g.node:first-of-type {
  display: none
}
.node circle {
  fill: #fff;
  stroke: #42b983;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/* Sidebar
============================================================== */
#sidebar {
  position: absolute;
  height: auto;
  top: 40px;
  right: 0;
  width: 200px;
  background: rgba(44, 62, 80, .90);
  color: #FAFAFA;
}

.layer-1 {
  background: rgba(44,62,80,.96);
  padding: 5px;
  color: white;
}
#sidebar li {
  display: block;
  padding: 8px 10px;
}

#sidebar h2 {
  padding: 15px 10px;
  background: #42b983;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left;
}
#close_sidebar {
  display: block;
  color: white;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px; 
  right: 5px;
  z-index: 10;
}

#close_sidebar:before, #close_sidebar:after {
  content: '';
  display: block;
  width: 12px;
  height: 2px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  transition: background .3s ease;
  z-index: 20;
}

#close_sidebar:before {
  transform: rotate(45deg);
}

#close_sidebar:after {
  transform: rotate(315deg)
}

/*DOM Highlight*/
.highlight {
  background-color: rgba(137, 196, 219, .2);
  z-index: 99999;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}